<div class="mainImg">
  <img src="./assets/imgMain.jpg">
</div>

<div class="menu">
  <div class="frame1">
      <div class="main">
          <h1>О компании</h1>
          <p>Wish - это интернет-магазин ювелирных украшений, основанный в 2020 году. Мы являемся командой профессионалов, увлеченных созданием уникальных украшений, которые могут подчеркнуть индивидуальность каждого нашего клиента.</p>
          <p>Мы стремимся предоставить нашим клиентам самые высококачественные изделия, изготовленные из драгоценных и полудрагоценных камней, золота и серебра. В нашем каталоге вы найдете широкий ассортимент украшений - от классических моделей до современных и необычных дизайнов.</p>
          <p>Мы гордимся нашими продуктами и предоставляем нашим клиентам быструю и удобную доставку, а также возможность возврата и обмена в течение 30 дней после покупки.</p>
      </div>
  </div>
  <div class="frame2"><img src="./assets/imageForDesc.jpg" alt=""></div>
</div>
