.mainImg{
  width: 1920px;
  height: 1080px;
}
.menu {
  width: 1920px;
  height: 800px;
  overflow:hidden;
  display: inline-flex;
  background-color: rgb(214, 207, 207);
}
.frame1{
  float:left;
  width: 55%;
  padding: 20px;
}
main {
padding: 20px;
}
h1{
  font-size: 45px;
  margin-bottom: 20px;
}
p{
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.frame2{
  float:left;
  width: 45%;
}
img{
  width: 100%;
}
