  <div class="main">
    <div class="frame1">
        <img class="productImage" src="{{item.pictureImage}}" alt="">
    </div>

    <div class="frame2">
        <div class="productTitle">{{item.title}}</div>
        <div class="productPrice">&#8381; {{item.price}}</div>
        <div class="productDesc">{{item.description}}</div>
        <div class="buttons">
            <button class="addToCartButton">В корзину</button>
        </div>
        <div class="main2">
            <div class="frame3">
                <div class="productChar">Characteristics</div>
                <div class="productCharList">
                    <div class="list">
                        <ul>
                            <br>
                            <div>Weight: {{item.weight}}</div>
                            <br>
                            <li>Material:{{item.material.title}}</li>
                            <br>
                            <li>На складе:{{item.count}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="frame4">
                <div class="productChar">Attributes:</div>
                <div class="productCharList">
                    <div class="list">
                        <ul>
                          <br>
                            <li *ngFor="let attr of item.attributes">{{attr.title}}: {{attr.value}}</li>
                            <br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
